html, body, ul, dl, ol, div{
    height:100%;
    margin: 0;
	padding: 0;
}

img, video{
    max-width:100%;
}

/*--------------------------------------------
----------------------------------------------*/


